@keyframes car-move {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 35vw);
    }
}

@-webkit-keyframes rotate-wheel {
    0% {
        -webkit-transform: rotate(-360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }    
}

@-moz-keyframes rotate-wheel {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-wheel {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-wheel {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ball-move {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 100px);
    }
}

@keyframes container-animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes box-one {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-110%, 0);
    }
}

@keyframes box-two {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(110%, 0);
    }
}

@keyframes box-three {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(0, 110%);
    }
}

@keyframes box-four {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(0, -110%);
    }
}

