.car {
    max-width: 100vh;
    padding: 50px 0 50px 0;

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        animation-name: car-move;
        left: 0;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 3s;
        animation-timing-function: linear;
        
        
        &-body {
            
            position: relative;
        }

        &-left-wheel {
            position: absolute;
            animation-name: rotate-wheel;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-delay: 3s;
            animation-timing-function: linear;
            left: 26px;
            bottom: -31px;
        }

        &-right-wheel {
            position: absolute;
            animation-name: rotate-wheel;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-delay: 3s;
            animation-timing-function: linear;
            right: 22px;
            bottom: -31px;

        }

        &-item {
            width: 133px;
            height: 133px;
        }
    }

   

}